<?php

return [
    // 'host' => 'localhost',
    // 'port' => '3306',
    // 'database' => 'intranet',
    // 'username' => 'root',
    // 'password' => '',
    // 'socket' => '/var/run/mysqld/mysqld.sock',
];
